.dash-page{

    height: 100vh;
}
.dash-page2{

    height: 100vh;
}
.dash-menu{
    text-decoration: none;
    color: rgb(216, 214, 214);
    font-weight: 700;
    display: block;
    line-height: 35px;
}
.sidebar{
    margin-top: -20px;
    
}
@media only screen and (max-width: 640px) {
    .sidebar{
        z-index: 1000;
    }
    
}