.phone{
    position: absolute;
    right: 50px;
}
.topmenu{
    background-color: #00BDBB;
}
.menubar{
    margin: 0px 50px !important;
    position: relative !important;
    top: -10px;

}
.nav-color{
    background-color: rgb(142, 196, 247);
}
.menu-hover:hover{
    color: rgb(53, 52, 50) !important;
    /* background-color: black; */
    border-bottom:solid rgb(9, 83, 12) 1px;
}