.product-form{
    margin-left: 38%;
    margin-top: 20px;
 }
 .product-form1{
    width: 300px;
    margin-left: 0;
     
 }
 .product-details{
    margin-top: 90px;
 }
 @media only screen and (max-width: 640px){
     .product-form1{
        width: 180px !important;
        margin-left: 0 !important;
         
     }
     .product-form{
        margin-left: 0%;
        margin-top: 20px;
     }
     
     .addpackage{
         font-size: 15px;
         margin-left: 0 ;
     }
 }