.icon {
    margin: 5px;
    width: 30px;
    background-color: rgba(84, 151, 161, 0.329);
    color: rgb(216, 8, 8);
    font-size: 15px;
    border-radius: 10px;
  }
  .icon:hover {
    background-color: rgba(109, 221, 175, 0.836);
  }
  .footer-menu {
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: rgb(219, 212, 212);
    
  }
 
  .footer-menu:hover {
    color: rgb(192, 209, 33);
  }
  .footer-input {
    padding: 7px;
    outline: none;
    background-color:rgba(128, 128, 128, 0);
    width: 30%;
    border-width: 0 0 2px;
    border-color: rgb(63, 192, 153)
  }
  .sub-btn{
    background-color: #203b3b;
  }
  .paper-icon{
    position: relative;
    left: -20px;
  }
  .footer-container {
    background-color: #203b3b;
    padding: 50px;
    color: rgb(216, 209, 209);
  }
  .foter-phone-icon {
    font-size: 25px;
    color: rgba(65, 25, 25, 0.979);
  }
  .footer-menu-container{
    display: block;
  }
  @media only screen and (max-width: 640px){
    .footer-input{
      width: 80%;
    }
    
  }